<h1>Editing estudante</h1>

<%= render "form", estudante: @estudante %>

<br>

<div>
  <%= link_to "Show this estudante", @estudante %> |
  <%= link_to "Back to estudantes", estudantes_path %>
</div>
