<h1>Editing coordenador</h1>

<%= render "form", coordenador: @coordenador %>

<br>

<div>
  <%= link_to "Show this coordenador", @coordenador %> |
  <%= link_to "Back to coordenadors", coordenadors_path %>
</div>
